<!DOCTYPE html>
<html lang="en">

<% include head %>

<body>
  <% if (message) { %>
  <p><%= message %></p>
  <% } %>
  <form id="job-form" action="/create_job" method="post" class="form-horizontal">
    <h3>Create a Job </h3>
    <div class="form-body">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="jobText">Job Name:</label>
          <div class="controls">
            <input type="text" id="jobName" class="input-xlarge uname" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="jobText">Messages: <br />(semicolon delimited)</label>
          <div class="controls">
            <textarea id="jobText" rows="10"></textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="targetNumber">Delivery Number:</label>
          <div class="controls">
            <input type="text" id="targetNumber" placeholder="6193330000" class="input-xlarge" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="frequency">Frequency (hours):</label>
          <div class="controls">
            <input type="text" id="frequency" placeholder="6" class="input-xlarge" />
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-footer">
      <button class="btn btn-primary" type="submit">Create Job</button>
    </div>
  </form>

  <% include jsinclude %>
</body>

</html>