<!DOCTYPE html>
<html lang="en">

  <% include head %>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Textarray</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About this App</a></li>
              <li><a href="/signup">Register Account</a></li>
              <li><a href="/login">Log in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Textarray {version}</h1>
      <p>A sms-based reminder service; Free to use, but only allows one project and one target number at a time.</p>
    </div> <!-- /container -->

    <% include jsinclude %>
  </body>

</html>